*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

/* INDEX */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/monosecurlogo.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #f44336;
}
.hero-btn{
    display: inline;
    text-decoration: none;
    color: blueviolet;
    border: 1px solid blueviolet;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.hero-btn:hover{
    background: #CAEEC2;
}

nav .fa-sharp{
    display: none;
}
nav .fa-solid{
    display: block;
}
.phone-logo{
    display: none;
}
.index-text{
    display: block;
}
.phone-text{
    display: none;
}

@media(max-width: 700px){
    /*.text-box h1{
        font-size: 50px;
    }
    .nav-links{
        position: absolute;
        background: #CAEEC2;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;
    }  
    .nav-links ul li{
        display: block;
    }

    nav .fa-sharp{
        display: block;
        margin: 10px;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .hero-btn{
        font-size: 6px;
    }*/
    .nav-links{
        display: none;
    }
    .hero-btn{
        display: none;
    }

    .phone-logo{
        display: block;
        position: relative;
        margin: auto;
        width: auto;
        height: auto;
        top: 350px;
        left: -160px;

    }
    .index-text{
        display: none;
    }
    .phone-text{
        display: block;
    }



} 

/* REGISTRATION */

.hero{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #f44336;
    border-radius: 30px;
    transition: 0.5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #f44336;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}