*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

/* REGISTRATION */

.hero{
    height: 100%;
    width: 100%;
    background-color: rgba(4,9,30,0.7);
    background-position: center;
    background-size: cover;
    position: absolute;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}

.account{
    width: 10%;
    height: auto;
    position: inherit;
    margin: 25% 1%;
    background: #CAEEC2;
    border: 5px solid blueviolet;
    padding: 100px;
    overflow: hidden;
    border-radius: 30px;
    top: -100px;
    transition: 0.5s;
}
.account-txt{
    width: 200px;
    margin : 10% auto;
    list-style-type: none;
}
.rea-btn{
    display: inline;
    text-decoration: none;
    color: black;
    border: 1px solid blueviolet;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.rea-btn:hover{
    background: blueviolet;
}

.form{
    height: 700px;
    width: 1500px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    background-color: #CAEEC2;
    border-radius: 10px;
    position: static;
    border: 0;
    outline: none;
    font-size: 12px;
    list-style-type: none;
    overflow: auto;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #CAEEC2;
    border: 0;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    top: -100px;
    transition: 0.5s;
}
.form-box:hover{
    border: 5px solid blueviolet;
    transition: 0.5s;
}

.toggle-btn{
    justify-content: center;
    align-items: center;
    margin: 10% 35% 10% 30%;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    position: static;
    border: 0;
    outline: none;
    font-size: 12px;
}
.log-btn{
    position: relative;
    top: -150px;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6% auto;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 20px;
    border: 0;
    width: 300px;
    border-radius: 30px;
    font-size: 20px;
    transition: .5s;
    text-decoration: none;
    color: black;
}
.log-btn:hover{
    border: 5px solid #CAEEC2;
}

.check-box{
    margin: 10px 10px 30px 0;
}
.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

form-value {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form-value #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form-value #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form-value #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }