*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

/* REGISTRATION */

.hero{
    height: 100%;
    width: 100%;
    background-color: #030615;
    background-position: center;
    background-size: cover;
    position: absolute;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #CAEEC2;
    border: 0 solid blueviolet;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    top: -100px;
    transition: 0.5s;
}
.form-box:hover{
    border: 5px solid blueviolet;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}
.toggle-btn{
    justify-content: center;
    align-items: center;
    margin: 10% 35% 10% 30%;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    position: static;
    border: 0;
    outline: none;
    font-size: 12px;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: blueviolet;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.log-btn{
    position: relative;
    top: -150px;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6% auto;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 20px;
    border: 0;
    width: 300px;
    border-radius: 30px;
    font-size: 20px;
    transition: .5s;
    text-decoration: none;
    color: black;
}
.log-btn:hover{
    border: 5px solid #CAEEC2;
}

.check-box{
    margin: 10px 10px 30px 0;
}
.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 50px;
}